In [60]:
class Knapsack():
        
    def __init__(self, max_cost, max_qb, max_rb, max_wr, df):
        self.cost = [c for c in df['cost']]
        self.qb = [q for q in df['qb']]
        self.rb = [r for r in df['rb']]
        self.wr = [w for w in df['wr']]
        self.values = [val for val in df['values']]
        self.state_cost = [i for i in range(max_cost+1)]
        self.state_qb = [i for i in range(max_qb+1)]
        self.state_rb = [i for i in range(max_rb+1)]
        self.state_wr = [i for i in range(max_wr+1)]
        
                
    def knap_sack(self, max_cost, max_qb, max_rb, max_wr, rounds):
            
        if rounds == 0:
            cost_condition = max_cost >= self.state_cost[max_cost] >= self.cost[rounds]
            qb_condition = max_qb >= self.state_qb[max_qb] >= self.qb[rounds]
            rb_condition = max_rb >= self.state_rb[max_rb] >= self.rb[rounds]
            wr_condition = max_wr >= self.state_wr[max_wr] >= self.wr[rounds]
            penalty = -9999.99
                 
            result = max(0, (self.values[rounds] if cost_condition and qb_condition and rb_condition  and wr_condition else penalty))

        elif self.state_cost[max_cost] < self.cost[rounds] or \
             self.state_qb[max_qb] < self.qb[rounds] or \
             self.state_rb[max_rb] < self.rb[rounds] or \
             self.state_rb[max_wr] < self.wr[rounds]:
                        
            result = self.knap_sack(self.state_cost[max_cost],
                                    self.state_qb[max_qb],
                                    self.state_rb[max_rb],
                                    self.state_rb[max_wr],
                                    rounds-1)

        else:
            tmp3 = self.knap_sack(self.state_cost[max_cost],
                                  self.state_qb[max_qb],
                                  self.state_rb[max_rb],
                                  self.state_wr[max_wr],
                                  rounds-1)
            
            tmp4_cost = self.state_cost[max_cost] - self.cost[rounds]
            tmp4_qb = self.state_qb[max_qb] - self.qb[rounds]
            tmp4_rb = self.state_rb[max_rb] - self.rb[rounds]
            tmp4_wr = self.state_wr[max_wr] - self.wr[rounds]
            tmp4 = self.values[rounds] + self.knap_sack(tmp4_cost,tmp4_qb,tmp4_rb,tmp4_wr,rounds-1)
            
            print((rounds,[max_cost,
                           max_qb,
                           self.values[rounds],
                           self.cost[rounds],
                           self.qb[rounds],
                           self.rb[rounds]]))

            result = max(tmp3, tmp4)

        return result

In [61]:
import pandas as pd

data_ = {'cost': [2,3,3,4,4,5], 
         'qb': [1,2,1,3,2,3],
         'rb': [2,1,3,2,2,3],
         'wr': [3,1,3,2,1,2],
         'values': [3,4,5,7,9,8]
        }

df = pd.DataFrame.from_dict(data_); df

   cost  qb  rb  wr  values
0     2   1   2   3       3
1     3   2   1   1       4
2     3   1   3   3       5
3     4   3   2   2       7
4     4   2   2   1       9
5     5   3   3   2       8

In [62]:
x=Knapsack(6,3,3,2, df)
FAT_BAR = "="*50

for i in range(6):
    print(f"{FAT_BAR} max value: {x.knap_sack(6,3,3,2, i)}")

================================================== max value: 0
(1, [6, 3, 4, 3, 2, 1])
================================================== max value: 4
(1, [6, 3, 4, 3, 2, 1])
================================================== max value: 4
(1, [6, 3, 4, 3, 2, 1])
(3, [6, 3, 7, 4, 3, 2])
================================================== max value: 7
(1, [6, 3, 4, 3, 2, 1])
(3, [6, 3, 7, 4, 3, 2])
(4, [6, 3, 9, 4, 2, 2])
================================================== max value: 9
(1, [6, 3, 4, 3, 2, 1])
(3, [6, 3, 7, 4, 3, 2])
(4, [6, 3, 9, 4, 2, 2])
(5, [6, 3, 8, 5, 3, 3])
================================================== max value: 9

In [63]:
data_ = {'cost': [2,3,3,4,4,5], 
         'qb': [1,2,1,3,2,3],
         'rb': [2,1,3,2,2,3],
         'wr': [3,1,3,2,1,2],
         'values': [3,4,5,7,9,8]
        }

df_test = pd.DataFrame.from_dict(data_); df_test

   cost  qb  rb  wr  values
0     2   1   2   3       3
1     3   2   1   1       4
2     3   1   3   3       5
3     4   3   2   2       7
4     4   2   2   1       9
5     5   3   3   2       8

In [64]:
x=Knapsack(6,3,3,2, df)
FAT_BAR = "="*50

for i in range(6):
    print(f"{FAT_BAR} max value: {x.knap_sack(6,3,3,2, i)}")

================================================== max value: 0
(1, [6, 3, 4, 3, 2, 1])
================================================== max value: 4
(1, [6, 3, 4, 3, 2, 1])
================================================== max value: 4
(1, [6, 3, 4, 3, 2, 1])
(3, [6, 3, 7, 4, 3, 2])
================================================== max value: 7
(1, [6, 3, 4, 3, 2, 1])
(3, [6, 3, 7, 4, 3, 2])
(4, [6, 3, 9, 4, 2, 2])
================================================== max value: 9
(1, [6, 3, 4, 3, 2, 1])
(3, [6, 3, 7, 4, 3, 2])
(4, [6, 3, 9, 4, 2, 2])
(5, [6, 3, 8, 5, 3, 3])
================================================== max value: 9